<footer class="footer">
    <div class="footer-content">
      <div class="footer-text">
        <p>2025 Thomas VELU</p>
        <p>License: MIT</p>
        <p>Version: 2.0.0</p>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/thomas-velu/" target="_blank" matTooltip="Go to my LinkedIn profile">
          <mat-icon aria-hidden="false" aria-label="LinkedIn" fontIcon="work" />
        </a>
        <a href="https://framagit.org/tvelu77" target="_blank" matTooltip="Go to my FramaGit profile">
          <mat-icon aria-hidden="false" aria-label="FramaGit" fontIcon="commit" />
        </a>
      </div>
    </div>
  </footer>