.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .footer-text p {
    margin: 5px 0;
  }
  
  button[mat-icon-button] {
    background-color: #555;
    color: #fff;
  }
  
  button[mat-icon-button]:hover {
    background-color: #777;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  