<section class="hero-section">
    <div class="text">
        <h2>{{ 'about.title' | translate }}</h2>
        <p>{{ 'about.description' | translate }}</p>
        <p>{{ 'about.quote' | translate }}</p>
        <p><i>{{ 'about.quoter' | translate }}</i></p>

        <div class="links">
            <a href="#skills">
                <i class="bi bi-code-slash"></i>
                <span>{{ 'about.skills' | translate }}</span>
            </a>
            <a href="#cv">
                <i class="bi bi-file-earmark-person-fill"></i>
                <span>{{ 'about.resume' | translate }}</span>
            </a>
            <a href="#contact">
                <i class="bi bi-person-vcard-fill"></i>
                <span>{{ 'about.contact' | translate }}</span>
            </a>
        </div>
    </div>

    <div class="headshot">
        <img src="imgs/avatar.png" alt="thomas velu headshot">
    </div>
</section>