<section class="hero-section">
    <div class="text">
        <h2>Hi, I'm Thomas 👋</h2>
        <p>A software engineer who writes clean, efficient code and solves problems before they hit production.</p>
        <p>“I’m gonna write code so clean, you can’t reject the pull request.” <i>- Thomas, code cleanliness
                advocate</i></p>

        <div class="links">
            <a href="#skills">
                <i class="bi bi-code-slash"></i>
                <span>Skills</span>
            </a>
        </div>
    </div>

    <div class="headshot">
        <img src="imgs/avatar.png" alt="thomas velu headshot">
    </div>
</section>