<nav>
  <div class="left">
    <a href="/">Thomas VELU</a>
  </div>

  <div class="right">
    <a (click)="toggleTheme()">
      @if (!isDarkMode()) {
      <i class="bi bi-moon-fill icon"></i>
      } @else {
      <i class="bi bi-sun-fill icon"></i>
      }
    </a>
    @if (getCurrentLanguage() === 'fr') {
      <a class="icon" (click)="useLanguage('en')">
        🇬🇧
      </a>
    } @else if (getCurrentLanguage() === 'en') {
      <a class="icon" (click)="useLanguage('fr')">
        🇫🇷
      </a>
    }
  </div>
</nav>