<nav>
  <div class="left">
    <a href="/">Thomas VELU</a>
  </div>

  <div class="right">
    <a href="https://github.com/tvelu77" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
      <span>Github</span>
    </a>

    <a href="https://www.linkedin.com/in/thomas-velu/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
      <span>Linkedin</span>
    </a>

    <a href="mailto:velu.thomas@murena.io">
      <i class="bi bi-envelope-at-fill"></i>
      <span>Email</span>
    </a>
  </div>
</nav>