<div class="projects-container">
  <mat-accordion>
    @for (project of projects; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ project.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{ project.description }} <a [href]="project.link" target="_blank">See more</a>
        <mat-chip-set aria-label="Technology">
          @for (technology of project.languages; track $index) {
            <mat-chip>{{ technology }}</mat-chip>
          }
        </mat-chip-set>
      </mat-expansion-panel>
      }
  </mat-accordion>
  <div>
    <h1>MY PROJECTS</h1>
  </div>
</div>
