<section id="contact" class="contact-section">
    <div class="text">
        <h2>{{ 'contact.title' | translate }}</h2>
        <p>{{ 'contact.quote' | translate }}</p>
        <p><i>{{ 'contact.quoter' | translate }}</i></p>
    </div>
    <div class="group">
        <a href="https://github.com/tvelu77" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github icon"></i>
        </a>

        <a href="https://www.linkedin.com/in/thomas-velu/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin icon"></i>
        </a>

        <a href="mailto:velu.thomas@murena.io">
            <i class="bi bi-envelope-at-fill icon"></i>
        </a>
    </div>

</section>
