<section id="skills" class="skills-section">
    <h2>Skills</h2>
    <div class="text">
        “I have a particular set of skills — skills that make me a nightmare for bugs. If you don’t behave, I
        <i>will</i> trace you. I
        <i>will</i> find you. And I <i>will</i> refactor you.”
        <p><i>— Thomas, software engineer with a very particular set of skills</i></p>
    </div>

    <div class="cells">
        <app-skill imageLink="imgs/java.png" alt="java" skillName="Java" />
        <app-skill imageLink="imgs/spring.png" alt="spring" skillName="Spring" />
        <app-skill imageLink="imgs/typescript.png" alt="typescript" skillName="Typescript" />
        <app-skill imageLink="imgs/angular.png" alt="angular" skillName="Angular" />
    </div>
</section>