
html, body { 
    height: 100%;
    overflow: hidden;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to top, #dd4814, #77216f);
    background-color: transparent;
}